<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Halloween Signup</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <a href="/data">back</a>
  <h1>Cancel Operation</h1>
  <form action="/cancel" method="POST">
    <label for="studentID">Student ID</label>
    <input type="text" name="studentID" id="studentID">
    <br>
    <label for="operationPassword">Operation Password</label>
    <input type="text" name="operationPassword" id="operationPassword">
    <br>

    <input type="checkbox" name="agree" id="agree" value="agree" required>I know what I am doing
    <br>
    <input type="submit">
  </form>
</body>
</html>