<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Halloween Signup</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <a href="/data">back</a>
  <h1>Erase Data</h1>
  <form action="/erase" method="POST">
    <label for="operationPassword">Operation Password</label>
    <input type="password" name="operationPassword" id="operationPassword" placeholder="operation password">
    <br>
    <label for="varificationQuestion">Varification Question</label>
    <input type="text" name="varificationQuestion" id="varificationQuestion" placeholder="2, 3, 5, 7, 11, 13, what's next">
    <br>
    <input type="checkbox" name="agree" id="agree" value="agree" required>I know what I am doing
    <br>
    <input type="submit">
  </form>
</body>
</html>