<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Halloween Signup</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Signup Instructions</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsum, similique quos obcaecati dignissimos incidunt debitis commodi quaerat dicta quod, culpa odio unde eveniet minima quam quidem explicabo asperiores ullam nam provident nesciunt harum cupiditate fugit. Temporibus facere laboriosam quibusdam odio non recusandae possimus eligendi illo pariatur quas veniam in debitis nemo labore, error soluta inventore voluptatem?</p>
  <h1>Signup Status</h1>
  <ol>
    <li>7:15-7:30pm -/15 <a href="/signup/1">link</a></li>
    <li>7:00-7:15pm -/15 <a href="/signup/2">link</a></li>
    <li>7:30-7:45pm -/15 <a href="/signup/3">link</a></li>
    <li>7:45-8:00pm -/15 <a href="/signup/4">link</a></li>
    <li>8:00-8:15pm -/15 <a href="/signup/5">link</a></li>
    <li>8:15-8:30pm -/15 <a href="/signup/6">link</a></li>
  </ol>
  <a href="/data">Data Panel</a>
</body>
</html>