<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Halloween Signup</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <h1>Signup</h1>
  <form action="/signedup" method="POST">
    <label for="time">Time</label>
    <select name="time" id="time">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <input type="firstName" name="" id="" placeholder="time">
  </form>
</body>
</html>